*{
    box-sizing: border-box;
    position: relative;
}
html,body{
    font-family:"jf open 粉圓 2.0","微軟正黑體",Arial, Helvetica, sans-serif;
}
h1,h2,h3,h4,h5,h6,p{
    margin: 0;
}
ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
a{
    text-decoration: none;
}
/* ------------格線--------------- */
.col-lg-1,.col-lg-2,.col-lg-3,.col-lg-4,.col-lg-5,.col-lg-6,.col-lg-7,.col-lg-8,.col-lg-9,.col-lg-10,.col-lg-11,.col-lg-12,
.col-md-1,.col-md-2,.col-md-3,.col-md-4,.col-md-5,.col-md-6,.col-md-7,.col-md-8,.col-md-9,.col-md-10,.col-md-11,.col-md-12,
.col-sm-6,.col-sm-4,.col-sm-3,.col-sm-9,.col-sm-12{
    /* border: 1px solid blue; */
    float: left;
    padding: 0 16px;
}
.col-lg-12{
    width: 100%;
}
.col-lg-11{
    width: 91.6666%;
}
.col-lg-10{
    width: 83.3333%;
}
.col-lg-9{
    width: 75%;
}
.col-lg-8{
    width: 66.6666%;
}
.col-lg-7{
    width: 58.3333%;
}
.col-lg-6{
    width: 50%;
}
.col-lg-5{
    width: 41.6666%;
}
.col-lg-4{
    width: 33.3333%;
}
.col-lg-3{
    width: 25%;
}
.col-lg-2{
    width: 16.6666%;
}
.col-lg-1{
    width: 8.3333%;
}
@media screen and (max-width: 768px){
    .col-md-12{
        width: 100%;
    }
    .col-md-11{
        width: 91.6666%;
    }
    .col-md-10{
        width: 83.3333%;
    }
    .col-md-9{
        width: 75%;
    }
    .col-md-8{
        width: 66.6666%;
    }
    .col-md-6{
        width: 50%;
    }
    .col-md-5{
        width: 41.6666%;
    }
    .col-md-4{
        width: 33.3333%;
    }
    .col-md-3{
        width: 25%;
    }
    .col-md-2{
        width: 16.6666%;
    }
    .col-md-1{
        width: 8.3333%;
    }
}

@media screen and (max-width: 540px){
    .col-sm-12{
        width: 100%;
    }
    .col-sm-9{
        width: 75%;
    }
    .col-sm-6{
        width: 50%;
    }
    .col-sm-4{
        width: 33.3333%;
    }
    .col-sm-3{
        width: 25%;
    }
}
/* ------------------------------------------------ */
.container{
    max-width: 1140px;
    /* border: 1px solid black; */
    margin: 0 auto;
    padding: 0 16px;
    /* background-color: #B8D0ED; */
    /* box-shadow: 1px 1px 3px blue; */
}
.row{
    margin: 0;
}
.row:after{
    content: ' ';
    display: block;
    clear: both;
}
.page{
    display: inline;
    max-width: 1140px;
}
/* 元件 */
.btn{
    border: 1px solid #1D3D5E;
    border-radius: 10px;
    color: #000;
}
.btn:hover{
    background-color: #1D3D5E;
    color: #B8D0ED;
}
/* background-color */
.wrapper{
    width: 100%;
    height: 100%;
    background: repeating-linear-gradient(45deg,#1D3D5E 0, #1D3D5E 10%,#B8D0ED 10%,#B8D0ED 20%);
}
/* nav */
.navbar{
    background-color: #B8D0ED;
    border-bottom: 3px dashed #7B9098;
    /* border-radius: 10px; */
    backdrop-filter: blur(10px);
}
.navbar h1{
    display: inline-block;
    font-size: 50px;
    line-height: 60px;
    margin: 20px;
}
.navbar .nav{
    float: right;
    margin: 20px;
}
.navbar .nav .nav-item{
    float: left;
}
.navbar .nav .nav-link{
    display: block;
    line-height: 24px;
    padding: 10px 20px;
    margin: 5px;
    justify-self: unset; 
    transition: all 0.3s;
}
@media screen and (max-width: 768px){
    .navbar .nav{
        position: fixed;
        left: 100%;
        top:0;
        margin: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(126, 126, 126 ,0.9);
        z-index: 500;

        display: flex;
        flex-direction: column;
        justify-content: center;

        opacity: 0;
        visibility:hidden;
        transition: all 0.3s;
    }
    .navbar .nav .nav-link{
        text-align: center;
        font-size: 20px;
        color: #B8D0ED;
        font-weight: bolder;
    }
    .navbar .nav .nav-link:hover{
        background-color: #B8D0ED;
        color: #000;
    }
    .navbar .nav.active{
        opacity: 1;
        visibility:visible;
        left: 0;
    }
}
/* menu toggle */
.navbar .menu-toggle{
    width: 48px;
    height: 48px;
    float: right;
    margin-right: 20px;
    margin-top: 20px;
    display: none;
    z-index: 600;
}
@media screen and (max-width:768px){
    .navbar .menu-toggle{
        display: inline-block;
    }
}
.navbar .menu-toggle span{
    display: block;
    width: 32px;
    height: 2px;
    background-color: white;
    position: absolute;
    left: 50%;
    transform: translate(-50%,0);
    transition: all 0.3s;
}
.navbar .menu-toggle span:nth-child(1){
    top:12px;
}
.navbar .menu-toggle.active span:nth-child(1){
    top:50%;
    transform: translate(-50%,-50%) rotate(45deg);
}
.navbar .menu-toggle span:nth-child(2){
    top:22px;
}
.navbar .menu-toggle.active span:nth-child(2){
    opacity: 0;
}
.navbar .menu-toggle span:nth-child(3){
    top:32px;
}
.navbar .menu-toggle.active span:nth-child(3){
    top:50%;
    transform: translate(-50%,-50%) rotate(-45deg);
}

/* header */
.header{
    /* background-color:rgba(137,235,219,0.5); */
    padding:0;
    margin: 0;
}
.header-item{
    text-align: center;
    padding: 20px;
}
.header-item .picture{
    width: 200px;
    height: 200px;
    margin: 0 auto;
    margin-top: 10px;
    border: 5px #7B9098;
    border-style: dashed;
    border-radius: 50%;
    background-image: url("../pic/picture/害羞水母.png");
    background-size: cover;
    background-repeat: no-repeat;
    transition: all 0.3s;
    backdrop-filter: blur(10px);
}
.header-item .picture:hover{
    width: 300px;
    height: 300px;
    box-shadow: 0 0 10px black;
}
.header-item .title{
    font-size: 30px;
    line-height: 30px;
    margin: 20px 0;
    color: #9d8c56;
}
.header-item .title .title-para{
    font-size: 16px;
    line-height: 20px;
}
.header .para{
    width: 100%;
    height: 300px;
    text-align: center;
    border: 2px dashed #7B9098;
    border-radius: 10px;
    margin-top: 10px;
    margin-right: -10px;
    background-color:rgb(124, 144, 152 ,0.5);
    backdrop-filter: blur(10px);
}
.header .para .para-text{
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 25px;
    font-weight: bold;
    line-height: 30px;
}
/* experience */
.experience{
    height: 314px;
    background-color: rgb(124, 144, 152 ,0.5);
    padding: 20px;
    margin: 15px;
    border: 2px dashed #7B9098;
    border-radius: 10px;
    margin-right: 7.5px;
    margin-left: 15px;
    backdrop-filter: blur(10px);
}
.main [class^="col-"]{
    padding: 0;
}
.experience .title{
    text-align: center;
    font-size: 30px;
    line-height: 30px;
    margin: 20px;
}
.experience .para-text .item{
    text-align: justify;
    font-size: 20px;
    line-height: 30px;
    margin: 20px;
    list-style-image: url("../icon/common-point-svgrepo-com.svg");
}
/* work */
.work{
    height: 314px;
    background-color: rgb(124, 144, 152 ,0.5);
    padding: 20px;
    margin: 15px;
    border: 2px dashed #7B9098;
    border-radius: 10px;
    margin-right: 15px;
    margin-left: 7.5px;
    backdrop-filter: blur(10px);
}
.work .title{
    text-align: center;
    font-size: 30px;
    line-height: 30px;
    margin: 20px;
}
.work .para-text .item{
    height: 100%;
    text-align: center;
    font-size: 20px;
    line-height: 30px;
    margin: 20px;
    list-style-image: url("../icon/link-minimalistic-svgrepo-com.svg");
}
/* photo-album */
.photo-album{
    background-color: rgb(124, 144, 152 ,0.5);
    padding: 20px;
    border: 2px dashed #7B9098;
    border-radius: 10px;
    margin:0;
    backdrop-filter: blur(10px);
}
.photo-album .topTitle{
    text-align: center;
    font-size: 30px;
    line-height: 30px;
    margin: 20px;
}
.photo-album .list-item .image-container:before{
    padding-top: 100%;
}
.photo-album .list-item .title{
    font-size: 18px;
    color: #7B9098;
    line-height: 24px;
    margin-bottom: 8px;
    margin-top: 16px;
}
.photo-album .list-item .subtitle{
    font-size: 14px;
    color: black;
}
.photo-album .owl-carousel .owl-item{
    border: 2px solid #7B9098;
    border-style: dashed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: all 0.1s;
}
.photo-album .owl-carousel .owl-item:hover{
    width: 150%;
    height: 150%;
    box-shadow: 0 0 10px #705ff2;
}
/* links */
.links{
    margin: 5px 15px;
    backdrop-filter: blur(10px);
}
.links .social-software{
    background-color: rgb(124, 144, 152 ,0.5);
    border: 2px dashed #7B9098;
    border-radius: 10px;
    padding: 0 20px;
    text-align: justify;
    font-size: 25px;
    line-height: 35px;
}
.links .social-software .item{
    display: inline-block;
    padding: 20px;
    color: #000;
    margin: 20px;
}
/* footer */
.footer{
    background-color: #B8D0ED;
    border-top: 3px dashed #7B9098;
    /* border-radius: 10px; */
    margin: 10px 0;
    padding: 20px;
    backdrop-filter: blur(10px);
}
.footer .footer-text{
    text-align: right;
    font-size: 16px;
    line-height: 20px;
    padding: 10px;
}
/* masonry */
.masonry-row{
    margin: 0 -16px;
}
.masonry-col{
    width: 33.3333%;
    padding: 0 16px;
}

/* gallery-picture */
.gallery{
    padding-top: 5%;
    padding-bottom: 5%;
}
.gallery-item{
    width: 100%;
    border-radius: 8px;
    box-shadow: 0 3px 16px rgba(0, 0, 0, 0.5);
    margin:12px 0;
    padding: 16px;
    backdrop-filter: blur(25px);
}
.gallery-item img{
    display: inline-block;
    width: 100%;
    margin-bottom: 16px;
}
.gallery-item h5{
    font-size: 16px;
    line-height: 25px;
    color: black;
}
.gallery-item p{
    font-size: 14px;
    line-height: 20px;
    color: black;
}
